img {
    width: 300px;
    height: 200px;
}
.card-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}
.industry-title {
    text-align: center;
}
.Click-an-industry {
    text-align: right;
    padding-top: 20px;
}
.Home-right-container {
    margin-right: -500px;
}
.Home-left-container {
}
.Click-an-industry {
    margin-right: 200px;
}

